{
  auto_https disable_redirects

  servers {
    protocol {
      strict_sni_host
    }
  }

  log {
    output stderr
  }
}

keycloak.apisix.mbasrv2.com {
  reverse_proxy 101.0.68.210:1010
}

qr-benefits.apisix.mbasrv2.com {
  reverse_proxy 101.0.68.210:9080
}

test.rewards-plus.mbasrv2.com {
  reverse_proxy https://test.rewards-plus.mbasrv2.com:9443
}
